html, body {
  margin: 0;
  width: 100%;
  height: auto; }

.nav {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; }
  .nav .logo-img {
    margin-left: 5%;
    margin: 0.2% 0 3px 5%;
    /* Top, Right, Bottom, Left*/
    float: left;
    position: relative;
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px; }
  .nav li {
    list-style-type: none;
    padding: 0px;
    display: inline; }
  .nav a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7; }
  .nav .nav-basket {
    margin: 0.2% 5% 0 0;
    float: right;
    position: relative; }
    .nav .nav-basket #cart {
      padding: 10px; }
    .nav .nav-basket #currency {
      padding: 10px; }

.body {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "about about about" ". catergories ." "hero hero hero" ". items ."; }
  .body .about {
    grid-area: about;
    background-image: url(../img/body/food.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh; }
    .body .about p {
      font-size: 4em;
      text-align: center;
      padding-top: 20vh;
      color: white;
      text-shadow: 2px 2px black; }
  .body .catergories {
    grid-area: catergories;
    grid-template-columns: repeat(3, 1fr);
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 2.5%; }
    .body .catergories p {
      font-size: 1.725em;
      text-align: center; }
    .body .catergories .wrapper {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      grid-auto-rows: 500px;
      grid-auto-flow: row dense; }
      .body .catergories .wrapper .item {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #0c9a9a;
        color: #fff;
        grid-column-start: auto;
        grid-row-start: auto;
        color: #fff;
        background: url(../img/body/steak.jpg);
        background-size: cover;
        background-position: center;
        -webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
        box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        cursor: pointer;
        counter-increment: item-counter; }
        .body .catergories .wrapper .item:nth-of-type(2n) {
          background-image: url(../img/body/Chips.jpg); }
        .body .catergories .wrapper .item:nth-of-type(3n) {
          background-image: url(../img/body/Rice.jpg); }
        .body .catergories .wrapper .item:nth-of-type(4n) {
          background-image: url(../img/body/Cake.jpg); }
        .body .catergories .wrapper .item:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 0.3;
          -webkit-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }
        .body .catergories .wrapper .item:hover {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }
          .body .catergories .wrapper .item:hover:after {
            opacity: 0; }
        .body .catergories .wrapper .item .item-details {
          position: relative;
          z-index: 1;
          padding: 15px;
          color: #444;
          background: #fff;
          text-transform: lowercase;
          letter-spacing: 1px;
          color: #828282; }
          .body .catergories .wrapper .item .item-details:before {
            content: counter(item-counter);
            font-weight: bold;
            font-size: 1.1rem;
            padding-right: 0.5em;
            color: #444; }
  .body .hero {
    grid-area: hero;
    height: 60vh;
    background-image: url(../img/body/board.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .body .hero .wrapper-contents {
      position: absolute;
      bottom: 20%;
      right: 1.275%;
      background-color: rgba(61, 65, 74, 0.6);
      color: white;
      padding: 0px 20px 20px 20px; }
  .body .items {
    grid-area: items; }
    .body .items .grid-carousel {
      grid-column: 1 / -1;
      display: grid;
      grid: auto-flow/1em repeat(5, 1fr) 1em;
      position: relative; }
      .body .items .grid-carousel_item:nth-of-type(1) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      .body .items .grid-carousel_item:nth-of-type(2) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      .body .items .grid-carousel_item:nth-of-type(3) {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3; }
      .body .items .grid-carousel_item:nth-of-type(4) {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4; }
      .body .items .grid-carousel_item:nth-of-type(5) {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5; }
      .body .items .grid-carousel__button {
        all: unset; }
        .body .items .grid-carousel__button:last-of-type {
          -webkit-box-ordinal-group: 100;
          -ms-flex-order: 99;
          order: 99; }
      .body .items .grid-carousel::before, .body .items .grid-carousel::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; }
      .body .items .grid-carousel::before {
        grid-column: 2 / 4;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.6)));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
        background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); }
      .body .items .grid-carousel::after {
        grid-column: -2 / -4;
        background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.6)));
        background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
        background: -o-linear-gradient(right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
        background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); }

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'contact news social';
  background-color: #3d414a;
  justify-items: center; }
  .footer .contact-left {
    grid-area: contact; }
  .footer .newsletter {
    grid-area: news; }
  .footer .social-right {
    grid-area: social; }

.copyright {
  width: 100%;
  position: absolute;
  background: #333; }
  .copyright #copyright-left {
    float: left;
    margin-left: 11%; }
  .copyright #copyright-right {
    float: right;
    margin-right: 11%; }
